<div class="p-fluid">
  <div class="p-field">
    <label for="nome">Nome</label>
    <input id="nome" type="text" pInputText [(ngModel)]="departamento.nome" [disabled]="carregando">
  </div>

  <div class="p-field">
    <label for="sigla">Sigla</label>
    <input id="sigla" type="text" pInputText [(ngModel)]="departamento.sigla" [disabled]="carregando">
  </div>

  <p-button label="Salvar" icon="pi pi-check" (click)="salvar()" [disabled]="carregando"></p-button>
</div>

<p-messages></p-messages>